<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        This manifest is only used for instrumented tests.
        It is merged with the main manifest during the test APK build.
    -->
    <application
        android:name="com.veleda.cyclewise.TestCycleWiseApp"
        tools:replace="android:name"
        tools:ignore="UnusedAttribute" />

</manifest>